@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We started distributing supplement facts products to large agents and customers around the city since 2022. We guarantee our distributed products have high quality. And we always value our customers.</p>
