@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    62 Phu Tho<br />
    Ho Chi Minh City, 700000<br />
    <abbr title="Phone Num.">P:</abbr>
    (+84) 903 346 306
</address>

<address>
    <strong>For support:</strong>   <a href="mailto:Support@example.com">thebao1426@gmail.com</a><br />
    <strong>For job  & marketing:</strong> <a href="mailto:Marketing@example.com">binhtranthanhbinh120@gmail.com</a>
</address>